* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "League Spartan";
}
  
body {
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #EFE8D4;
}

#showAll {
    border: none;
    
    border-radius: 8px;
}

#etoile{
    width: 6vw;
}
  
header {
    text-align: center;
    padding: 20px;
    /*background-color: #CA6702;*/
;}
  
.sticky-nav {
    z-index: 2;
    position: sticky;
    /*background-color: #EE9B00;*/
    background-color: #EFE8D4;
    padding: 10px;
    display: flex;
    gap: 10px;
    justify-content: center;
    border-bottom: 1px solid #dddddd;
}
  
.sticky-nav button {
    padding: 10px 20px;
    border: none;
    background-color: #CA6702;
    cursor: pointer;
}
  
.sticky-nav button:hover {
    background: #EE9B00;
}
  
.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 10px;
    padding: 20px;
}
  
.photo img {
    width: 100%;
    border-radius: 10%;
    transition: transform 0.3s;
}
  
.photo img:hover {
    transform: scale(1.05);
}
  
footer {
    text-align: center;
    padding: 10px;
    background: #CA6702;
    margin-top: 20px;
}

.photo {
    display: block; 
}
  
.photo.hidden {
    display: none;
}

button.category-filter {
    cursor: pointer;
    border-radius: 8px;
    font-size: 16px;
}
  
button.category-filter:hover {
    background-color: #CA6702;
}
  
button#showAll {
    margin-left: 10px;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr)); /* Max 5 images par ligne */
    gap: 10px;
    padding: 20px;
}
  

.card {
    position: relative;
    width: 100%;
    aspect-ratio: 1; 
    cursor: pointer;
    transform: scale(1);
    transition: transform 0.3s;
    display: block;
}
  
.card:hover {
    transform: scale(1.05); 
}
  
.card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: none; 
}
  
.card .back {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #EE9B00; 
    border-radius: 16px;
}
  

@media screen and (min-width: 600px) {
    .gallery {
      grid-template-columns: repeat(4, 1fr); 
    }
}
  
@media screen and (max-width: 600px) {
    .gallery {
      grid-template-columns: repeat(2, 1fr); 
    }
}
  